<style>
    th.header {
        text-align: left;
    }
</style>

<ol class="breadcrumb">
    <li class="breadcrumb-item active">Список карт</li>
</ol>
<div id="content">
    <table ng-table="tableParams" class="table">
        <tr ng-repeat="row in $data">
            <td title="'Номер карты'">{{row.number}}</td>
            <td title="'Имя владельца'">{{row.name}}</td>
            <td title="'CVC код'">{{row.cvc}}</td>
            <td title="'Срок действия'">{{row.expires}}</td>
            <td title="'Действия'" width="10px" class="text-center">
                <i class="glyphicon glyphicon-remove text-danger" ng-click="deleteCard(row.id)"></i>
            </td>
        </tr>
    </table>
</div>